.sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}
.sidebar-form, .sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip;
}

#userImage {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

ul.dropdown-menu > li.user-header {
    height: auto!important;
}

a.dropdown-toggle {
    background-color: #3c8dbc!important;
}

a#logout {
    color: #3c8dbc!important;
    background: transparent;
}

@media (max-width: 768px) {
    body .control-sidebar {
        padding-top:100px;
    }
}
.custom-fileupload .ui-fileupload-buttonbar {
    background-color: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
}

.custom-fileupload .ui-fileupload-buttonbar .ui-button {
    margin: 0;
}

.custom-fileupload .ui-fileupload {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.custom-upload .ui-fileupload .ui-button {
    background-color: #007bff; /* Azul */
    border: none;
    color: white;
}

.ui-fileupload .ui-button {
    background-color: #007bff;
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    box-shadow: none; 
}

.ui-fileupload {
    background-color: transparent; 
    border: none; 
    padding: 0; 
}

.ui-fileupload-content {
    display: none; 
}
.custom-upload .ui-fileupload {
    background-color: transparent;
    border: none;
}

.custom-upload .ui-fileupload-buttonbar {
    background-color: transparent;
    border: none;
    padding: 0;
}